body {
	background: #1a1a1a;
	color: #ffffff;
 	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-smooth: always;
 	margin: 0;
 	padding: 0;
}

h1 {
	font-size: 3rem;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 0.77rem;
	font-weight: 400;
	margin: 1px 0 0 0;
	padding: 0;
	text-transform: uppercase;
}

.app-outer {
	align-items: center; 
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 0;
	padding: 20px 0;
	position: absolute;
	right: 0;
	top: 0;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b2b2b+0,000000+100 */
background: #2b2b2b; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #2b2b2b 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #2b2b2b 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #2b2b2b 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.app-inner {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 1000px;
	width: 100%;
}

.app-slide {
	background: #ffffff;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px 40px 20px 40px;
}

.header-left-column {
	text-align: left;
}

.header-right-column {
	text-align: right;
}

.icon { 
	color: white;
	opacity: 0.5;
	margin: 20px 4px;
	transition: 0.6s;
}
.icon:hover {
	opacity: 1;
	transform: scale(1.2);
}

.cloud {
	flex: 1;
}

.word3d {
	transition: 1.4s;
}
