@import "tailwindcss";

body {
	background: #1a1a1a;
	color: #ffffff;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-smooth: always;
	margin: 0;
	padding: 0;
}

.app-outer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b2b2b+0,000000+100 */
	background: #2b2b2b; /* Old browsers */
	background: -moz-radial-gradient(
		center,
		ellipse farthest-corner,
		#2b2b2b 0%,
		#000000 100%
	); /* FF3.6-15 */
	background: -webkit-radial-gradient(
		center,
		ellipse farthest-corner,
		#2b2b2b 0%,
		#000000 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(
		ellipse at center,
		#2b2b2b 0%,
		#000000 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
